<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chart"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled" >
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DETAILED_DATA activity -->
        <activity
            android:name=".ui.ListChartsActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- CHART_ACTIVITY activity -->
        <activity
            android:name=".ui.ChartActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- CHART_DETAILS_ACTIVITY activity -->
        <activity
            android:name=".ui.ChartDetailsAcitivy"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>

        <!-- HOME_ACTIVITY activity -->
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- PREFERENCE_ACTIVITY activity -->
        <activity
            android:name=".ui.PreferenceActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- TEST activity -->
        <activity
            android:name=".ui.Test"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>